<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weera.dooxmovies"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.weera.dooxmovies.uil.HomeActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name="com.weera.dooxmovies.main.AdsWrapper"></activity>
        <activity
            android:name="com.weera.dooxmovies.main.MovieListActivity"
            android:label="Doo X movies" />
        
        <activity
            android:name="com.weera.dooxmovies.main.AppListActivity"
            android:label="Doo X movies" />
        
        <!--
        <activity android:name=".PropertiesActivity" />
        <activity android:name=".LeftAndRightActivity" />
        <activity android:name=".AttachExample" />
        <activity android:name=".anim.CustomScaleAnimation" />
        <activity android:name=".anim.CustomZoomAnimation" />
        <activity android:name=".anim.CustomRotateAnimation" />
        <activity android:name=".anim.CustomSlideAnimation" />
        <activity android:name=".SlidingTitleBar" />
        <activity android:name=".SlidingContent" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".fragments.FragmentChangeActivity" />
        <activity android:name=".fragments.ResponsiveUIActivity" />
        <activity
            android:name=".fragments.BirdActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" />
        <activity android:name="com.crittercism.NotificationActivity"/>
        -->
    </application>

</manifest>